// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');
// Variables
@import 'variables';
// Bootstrap
@import '~alertifyjs/build/css/alertify';
@import '~alertifyjs/build/css/themes/default';
@import 'sweetalert2/src/sweetalert2.scss';
@import 'custom';
body {
    background-color: $board;
}