// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    background-color: $board;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}